* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #303030;
  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
  }
}

header {
  /* Стили для хедера */
  background: #2965f1;
  padding: 23px 0;
}

header span {
  /* Стили для текста в хедере IT-INCUBATOR */
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}

.main-section {
  /* Стили для первой секции */
  background: #fafaff;
  width: 1440px;
  padding: 60px 0;
}

.main-title {
  /* Стили для заголовка в первой секции */
  font-weight: 700;
  font-size: 48px;
  color: #303030;
  margin-bottom: 20px;
}

.main-text {
  /* Стили для текста в первой секции */
  font-weight: 400;
  font-size: 18px;
  color: #303030;
  margin: 0 0 0 0;
}

.main-image {
  /* Стили для изображения в первой секции */
  max-width: 715px;
  height: 508px;
}

.about-section {
  /* Стили для второй секции */
  background-color: #fff;
  margin: 100px 0;
}

select {
  /* Стили для выпадающего списка */
}

.section-title {
  /* Стили для заголовков во второй секции */
}

.frameworks-list {
  /* Стили для маркированного списка во второй секции */
}

.books-list {
  /* Стили для нумерованного списка во второй секции */
  check
}

.label {
  /* Стили для подписей чекбоксов */
}

.text-field {
  /* Стили для односточного поля ввода текста */
}

.btn {
  /* Стили для кнопки */
}

.line {
  /* Стили для линии */
}

table {
  /* Стили для таблицы */
}

th,
td {
  /* Стили для ячеек таблицы */
}

footer {
  /* Стили для футера */
  background: rgba(163, 167, 255, 0.3);
  padding: 26px 0;
}

.footer-link {
  /* Стили для футера */
  font-weight: 400;
  font-size: 14px;
  color: #2965f1;
  text-decoration-line: none;
}
